---
import BaseLayout from '../layouts/BaseLayout.astro';
import NexusCalculator from '../components/NexusCalculator.astro';
---
<BaseLayout>
  <div style="padding:2rem;max-width:1000px;margin:auto;">
    <h1 style="text-align:center;">Check Economic Nexus Thresholds</h1>
    <NexusCalculator />
  </div>
</BaseLayout>