---
import BaseLayout from '../layouts/BaseLayout.astro';
import NexusCalculator from '../components/NexusCalculator.astro';
---
<BaseLayout>
  <h1 style="text-align:center">Nexus Check - Free Sales Tax Tool</h1>
  <NexusCalculator />
</BaseLayout>